@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Pacifico&display=swap');


.header {
    top: 0;
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 100;
    transition: .3s ease-in;

    display: flex;
    align-items: center;
    
}

.header-bg{
    background-color: rgba(2, 0, 23, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 20px 30px 30px rgba(0,0,0,.1);
}

.logo{
    width: 33%;
    display: flex;
    align-items: center;
    margin-left: 35px;
    padding: 10px;
}


.header__title {
    color: #426DFB;
    font-size: 45px;
    margin-left: 25px;
    transition: transform .7s ease-in-out;

}
.header__title {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;  
    display: block;
    text-shadow: 0 0 30px rgba(255,255,255,.5);
    padding: 10px;

    background: url(animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

}
@keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}




.header__logo {
    width: 45px;
    height: 100%;
    transition: transform .7s ease-in-out;
}

.logo:hover .header__logo {
    transform: rotate(360deg);
    cursor: pointer;
}

.logo:hover .header__title{
    transform: translateX(-10px);
    cursor: pointer;
}
